.list_users{
    list-style: none;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.user-card{
    margin: 10px;
    padding: 5px;
    text-align: center;
    border: 2px solid #0f3501;
    border-radius: 5px;
    box-shadow: 3px 3px 5px #000;
    background-color: #05910c;
}

.user-card__img{
    width: 200px;
    height: 200px;
    border: 2px solid blue;
    border-radius: 50%;
    overflow: hidden;
}
.user-card__img img{
    width: 100%;
}

.user-card__text{
    font-family: Arial, sans-serif;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
}